<div class="profile-identity">
  <img class="portrait" src="{{ '/images/yu-zhou.jpg' | relative_url }}" width="180" height="216" alt="Portrait of Yu Zhou">
  <div class="profile-name">
    <h1>Yu Zhou</h1>
    <p class="position">Ph.D. Candidate</p>
  </div>
</div>
<div class="profile-contact">
  <ul class="profile-details">
    <li><span class="profile-detail">{% include profile-icon.html name="location" %}<span>Hong Kong SAR, China</span></span></li>
    <li><a class="profile-detail" href="https://www.polyu.edu.hk/">{% include profile-icon.html name="university" %}<span>The Hong Kong Polytechnic University</span></a></li>
    <li><a class="profile-detail" href="https://www.mindlab-ai.com/team">{% include profile-icon.html name="lab" %}<span>MIND Lab · DSAI</span></a></li>
    <li><a class="profile-detail" href="mailto:zy-yu.zhou@connect.polyu.hk">{% include profile-icon.html name="email" %}<span>Email</span></a></li>
    <li><a class="profile-detail" href="https://github.com/Rainy-ZhouYu">{% include profile-icon.html name="github" %}<span>GitHub</span></a></li>
    <li><a class="profile-detail" href="https://scholar.google.com.hk/citations?user=9n9QCAIAAAAJ&amp;hl=en">{% include profile-icon.html name="scholar" %}<span>Google Scholar</span></a></li>
    <li><a class="profile-detail" href="https://www.researchgate.net/profile/Yu-Zhou-156">{% include profile-icon.html name="researchgate" %}<span>ResearchGate</span></a></li>
  </ul>
</div>
